.card {
    height: 725px;
    width: 400px;
    background-image: linear-gradient(210deg, #0b717f, #0ba276);
}

.resume {
    padding: 12px 30px;
    border-radius: 25px;
    border: 2px solid white;
    transition: .5s;
}

.resume:hover {
    transition: .5s;
    box-shadow: 5px 5px 5px black;
    transform: translateY(-5px);
    border: 3px solid white;
}

.link-pic {
    display: inline;
    transform: rotate(0deg);
    background-color: transparent;
    border-radius: 0;
    transition: .5s;
    box-shadow: 0;
}

.link-pic:hover {
    display: inline;
    box-shadow: 5px 5px 5px black;
    transform: rotate(360deg);
    border-radius: 100%;
    transition: .5s;
}

@media (max-width: 576px) {
    .card-sm1 {
        transition: .5s;
        height: 900px;
        width: 400px;
        background-image: linear-gradient(210deg, #0b717f, #0ba276);
        position: fixed;
        left: 500px;
    }

    .card-sm2 {
        transition: .5s;
        height: 900px;
        width: 400px;
        background-image: linear-gradient(210deg, #0b717f, #0ba276);
        position: fixed;
        left: 0;
    }

    .btn-menu {
        width: 14%;
        position: fixed;
        left: 335px;
        top: 30px;

    }

    .btn-menu:hover {
        width: 14%;
        position: fixed;
        left: 335px;
        top: 30px;
        transform: rotate(180deg);
        transition: .5s;
    }

    .link-sm:hover {
        border-bottom: 2px solid white;
    }

    .close-btn:hover {
        transform: rotate(180deg);
        transition: .5s;
    }
}